* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*---------------ESTILOS INDEX---------------*/
/*---------------ESTILOS HEADER---------------*/
.menuResponsive {
  visibility: collapse; }

.menu2 {
  background-color: #50c8d7 !important;
  border-color: black;
  border-width: 0.3rem 0;
  border-style: solid; }
  .menu2 a {
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem; }
  .menu2 h5 {
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem; }

.botonMenu {
  border-color: black !important;
  color: black;
  border-width: 0.3rem;
  border-style: solid; }

.header {
  position: sticky;
  top: 0;
  z-index: 10; }

.menu {
  background-color: #50c8d7;
  border-color: black;
  border-width: 0.3rem 0;
  border-style: solid;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  justify-content: space-around;
  align-items: center; }
  .menu a:hover {
    background-color: rgba(255, 255, 0, 0.8); }

.logo {
  width: 10rem;
  height: 7rem; }

/*---------------ESTILOS MAIN----------------*/
.fondoHome {
  padding: 20rem 0;
  width: 100%;
  background: url(../multimedia/fondo.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  color: white;
  justify-content: center; }

.tituloHome {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
  justify-content: center; }

.intro {
  background-color: #f0f0f0;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  padding: 5rem 0;
  text-align: center;
  justify-content: center; }

.masPedidos {
  font-family: "Oswald", sans-serif;
  margin: 4rem 0; }
  .masPedidos img {
    width: 20rem;
    height: 20rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 3rem 0;
    justify-content: center;
    transition: 0.4s; }
    .masPedidos img:hover {
      width: 27rem;
      height: 27rem;
      background-color: #50c8d7;
      border-width: 0.5rem; }
  .masPedidos h5 {
    font-weight: 400;
    font-size: 2.2rem; }
  .masPedidos p {
    font-weight: 300;
    font-size: 1.6rem; }

.tituloPedidos {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin: 4rem 0;
  text-align: center; }

.buttonPedidos {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #50c8d7; }

.producto {
  border-color: black;
  border-width: 0.1rem;
  border-radius: 3%;
  border-style: solid;
  margin: 4rem; }

/*---------------ESTILOS SECTION---------------*/
.sectionHome {
  background-color: #f0f0f0;
  font-family: "Oswald", sans-serif; }
  .sectionHome h2 {
    font-size: 3rem;
    margin: 4rem; }
  .sectionHome h5 {
    font-size: 2.5rem; }
  .sectionHome p {
    font-size: 2rem; }

.tituloMapas {
  text-align: center; }

.mapa1 {
  width: 30rem;
  height: 30rem;
  margin: 3rem; }

.mapa2 {
  width: 30rem;
  height: 30rem;
  margin: 3rem; }

/*---------------ESTILOS FOOTER---------------*/
.footer {
  background-color: #50c8d7;
  line-height: 4rem; }
  .footer a {
    text-decoration: none;
    transition: 0.2s; }
    .footer a:hover {
      font-size: 2rem;
      color: white; }
  .footer li {
    list-style-type: none; }
  .footer ul {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.3rem; }

.nosotros {
  margin-top: 2rem; }

.redes {
  margin-top: 2rem; }

.newsletter {
  margin-top: 2rem; }

.registro {
  line-height: 2rem; }

.copy {
  font-size: 1.3rem; }

.tarjetas {
  width: 35rem;
  height: 4rem; }

/*---------------ESTILOS ASIDE---------------*/
.whatsapp {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  position: fixed;
  /* SE MANTIENE DURANTE TODO EL SCROLL COMO EL MENU */
  right: 3rem;
  bottom: 3rem;
  border-color: chartreuse;
  border-width: 0.1rem;
  border-radius: 20%;
  border-style: solid; }
