/*---------------VARIABLES---------------*/
/*---------------MAPAS---------------*/
/*---------------MIXINS---------------*/
/*---------------RESETEO---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*---------------IMPORT---------------*/
/*---------------ESTILOS INDEX---------------*/
/*---------------ESTILOS HEADER---------------*/
.menuResponsive {
  visibility: collapse; }

.menu2, .menu {
  background-color: #50c8d7 !important;
  border-color: black;
  border-width: 0.3rem 0;
  border-style: solid; }
  .menu2 a, .menu a {
    font-family: "Oswald", sans-serif;
    font-size: 2rem; }
  .menu2 h5, .menu h5 {
    font-family: "Oswald", sans-serif;
    font-size: 2rem; }

.botonMenu {
  border-color: black !important;
  color: black;
  border-width: 0.3rem;
  border-style: solid; }

.header {
  position: sticky;
  top: 0;
  z-index: 10; }

.menu {
  justify-content: space-around;
  align-items: center; }
  .menu a:hover {
    background-color: rgba(255, 255, 0, 0.8); }

.logo {
  width: 10rem;
  height: 7rem; }

/*---------------ESTILOS MAIN----------------*/
.fondoHome {
  padding: 20rem 0;
  background: url(../multimedia/fondo.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  color: white;
  justify-content: center; }

.tituloHome {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  padding: 2rem 0;
  text-align: center;
  justify-content: center; }

.intro {
  background-color: #f0f0f0;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  padding: 5rem 0;
  text-align: center;
  justify-content: center; }

.masPedidos img:hover {
  width: 27rem;
  height: 27rem;
  border-color: #50c8d7;
  border-width: 0.5rem;
  cursor: pointer; }

.tituloPedidos, .tituloPromos {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 4rem 0;
  text-align: center; }

.buttonPedidos, .buttonPromos {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  background-color: #50c8d7; }

.producto {
  border-color: black;
  border-width: 0.1rem;
  border-radius: 3%;
  border-style: solid;
  margin: 4rem; }

/*---------------ESTILOS SECTION---------------*/
.sectionHome {
  background-color: #f0f0f0;
  font-family: "Oswald", sans-serif; }
  .sectionHome h2 {
    font-size: 3rem;
    margin: 4rem; }
  .sectionHome h5 {
    font-size: 2.5rem; }
  .sectionHome p {
    font-size: 2rem; }

.tituloMapas {
  text-align: center; }

.mapa1 {
  width: 30rem;
  height: 30rem;
  margin: 3rem; }

.mapa2 {
  width: 30rem;
  height: 30rem;
  margin: 3rem; }

/*---------------ESTILOS FOOTER---------------*/
.footer {
  background-color: #50c8d7;
  line-height: 4rem; }
  .footer a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    transition: 0.2s; }
    .footer a:hover {
      font-size: 2rem;
      color: white; }
  .footer li {
    list-style-type: none;
    font-weight: 400;
    color: black; }
  .footer ul {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0; }

.nosotros {
  margin-top: 2rem; }

.redes {
  margin-top: 2rem; }

.newsletter {
  margin-top: 2rem; }

.registro {
  line-height: 2rem; }

.copy {
  font-size: 1.3rem; }

.tarjetas {
  width: 35rem;
  height: 4rem; }

/*---------------ESTILOS ASIDE---------------*/
.whatsapp {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  position: fixed;
  /* SE MANTIENE DURANTE TODO EL SCROLL COMO EL MENU */
  right: 3rem;
  bottom: 3rem;
  border-color: chartreuse;
  border-width: 0.1rem;
  border-radius: 20%;
  border-style: solid; }

/*---------------ESTILOS PRODUCTOS---------------*/
.tituloProductos {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  margin: 3rem 0;
  justify-content: center; }

.carrusel {
  justify-content: center;
  margin: 8rem 0; }

.carousel {
  height: 480px;
  width: 480px;
  justify-content: center;
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  box-shadow: 0 0 4rem 1.5rem rgba(0, 0, 0, 0.5); }

.carousel-indicators {
  margin: 0; }

.mainProductos img {
  height: 470px;
  width: 470px; }

.mainProductos h5 {
  font-size: 2rem; }

.socio {
  justify-content: center;
  margin: 5rem 0;
  font-family: "Oswald", sans-serif; }
  .socio h3 {
    font-weight: 400;
    font-size: 2.5rem;
    color: red; }
  .socio h5 {
    font-weight: 400;
    font-size: 2.5rem; }
  .socio p {
    font-weight: 300;
    font-size: 2rem; }

.cardSocio {
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  box-shadow: 0 0 4rem 1.5rem rgba(0, 0, 0, 0.5); }

.collapseSocio {
  justify-content: space-around;
  margin: 5rem 0; }
  .collapseSocio h3 {
    color: black; }

.cardCollapse {
  border-color: black;
  border-width: 0.2rem;
  border-style: solid;
  margin: 5rem 0;
  box-shadow: 0 0 4rem 1.5rem rgba(0, 0, 0, 0.5); }

/*---------------ESTILOS PROMOCIONES---------------*/
.bodyPromociones {
  background: url(../multimedia/fondo-promociones.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat; }

.promociones, .masPedidos {
  font-family: "Oswald", sans-serif;
  margin: 4rem 0; }
  .promociones img, .masPedidos img {
    width: 20rem;
    height: 20rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 3rem 0;
    justify-content: center;
    transition: 0.4s; }
  .promociones h5, .masPedidos h5 {
    font-weight: 400;
    font-size: 2rem; }
  .promociones p, .masPedidos p {
    font-weight: 300;
    font-size: 1.7rem; }

.tituloPromos {
  font-size: 4rem;
  color: white; }

#multiCollapseExample1, #multiCollapseExample2, #multiCollapseExample3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2rem; }
  #multiCollapseExample1 a, #multiCollapseExample2 a, #multiCollapseExample3 a {
    text-decoration: none; }
  #multiCollapseExample1 li, #multiCollapseExample2 li, #multiCollapseExample3 li {
    list-style-type: none; }

.imagenProducto {
  display: flex;
  justify-content: center; }

/*---------------ESTILOS NOSOTROS---------------*/
.tituloNosotros {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 3rem;
  text-align: center;
  justify-content: center; }

.parrafoNosotros {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 5rem;
  justify-content: center; }

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  grid-gap: 4rem;
  margin: 10rem; }

.imagenGaleria1, .imagenGaleria2, .imagenGaleria3, .imagenGaleria4, .imagenGaleria5, .imagenGaleria6 {
  grid-area: img1;
  position: relative; }
  .imagenGaleria1 img, .imagenGaleria2 img, .imagenGaleria3 img, .imagenGaleria4 img, .imagenGaleria5 img, .imagenGaleria6 img {
    width: 100%;
    height: 100%;
    border-radius: 3%; }
  .imagenGaleria1:hover > .capa1, .imagenGaleria2:hover > .capa1, .imagenGaleria3:hover > .capa1, .imagenGaleria4:hover > .capa1, .imagenGaleria5:hover > .capa1, .imagenGaleria6:hover > .capa1, .imagenGaleria1:hover > .capa2, .imagenGaleria2:hover > .capa2, .imagenGaleria3:hover > .capa2, .imagenGaleria4:hover > .capa2, .imagenGaleria5:hover > .capa2, .imagenGaleria6:hover > .capa2, .imagenGaleria1:hover > .capa3, .imagenGaleria2:hover > .capa3, .imagenGaleria3:hover > .capa3, .imagenGaleria4:hover > .capa3, .imagenGaleria5:hover > .capa3, .imagenGaleria6:hover > .capa3, .imagenGaleria1:hover > .capa4, .imagenGaleria2:hover > .capa4, .imagenGaleria3:hover > .capa4, .imagenGaleria4:hover > .capa4, .imagenGaleria5:hover > .capa4, .imagenGaleria6:hover > .capa4, .imagenGaleria1:hover > .capa5, .imagenGaleria2:hover > .capa5, .imagenGaleria3:hover > .capa5, .imagenGaleria4:hover > .capa5, .imagenGaleria5:hover > .capa5, .imagenGaleria6:hover > .capa5, .imagenGaleria1:hover > .capa6, .imagenGaleria2:hover > .capa6, .imagenGaleria3:hover > .capa6, .imagenGaleria4:hover > .capa6, .imagenGaleria5:hover > .capa6, .imagenGaleria6:hover > .capa6 {
    opacity: 1; }

.imagenGaleria2 {
  grid-area: img2; }

.imagenGaleria3 {
  grid-area: img3; }

.imagenGaleria4 {
  grid-area: img4; }

.imagenGaleria5 {
  grid-area: img5; }

.imagenGaleria6 {
  grid-area: img6; }

.capa1, .capa2, .capa3, .capa4, .capa5, .capa6 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s; }
  .capa1 h5, .capa2 h5, .capa3 h5, .capa4 h5, .capa5 h5, .capa6 h5 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem; }

/*---------------ESTILOS CONTACTO---------------*/
.articleContacto {
  margin: 0; }

.tituloContacto {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0;
  padding: 2rem 0;
  text-align: center;
  justify-content: center; }

.formulario, .textoContacto, .extra {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-weight: 300; }

.form-control {
  border: outset; }

.textoContacto {
  font-size: 2.5rem; }

.notificaciones {
  margin: 2rem 0; }

.botones {
  background-color: #50c8d7;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: black;
  width: 9rem;
  height: 3rem; }

.extra {
  text-decoration: none;
  padding: 7rem 0;
  justify-content: center; }

/*---------------RESPONSIVE HOME---------------*/
@media screen and (max-width: 575px) {
  .menuDesktop {
    display: none; }
  .menuResponsive {
    visibility: visible; }
  .logo {
    width: 8rem;
    height: 6rem; }
  .mapa1 {
    width: 20rem;
    height: 20rem; }
  .mapa2 {
    width: 20rem;
    height: 20rem; }
  .tarjetas {
    display: none; }
  .nosotros h3 {
    display: flex;
    justify-content: center; }
  .nosotros a {
    display: flex;
    justify-content: center; }
  .redes h3 {
    display: flex;
    justify-content: center; }
  .redes a {
    display: flex;
    justify-content: center; }
  .newsletter h3 {
    display: flex;
    justify-content: center; }
  .newsletter p {
    display: flex;
    justify-content: center; }
  .inputNewsletter {
    display: flex;
    justify-content: center; }
  .whatsapp {
    right: 1rem;
    bottom: 1rem; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .logo {
    width: 8rem;
    height: 6rem; }
  .nosotros h3 {
    display: flex;
    justify-content: center; }
  .nosotros a {
    display: flex;
    justify-content: center; }
  .redes h3 {
    display: flex;
    justify-content: center; }
  .redes a {
    display: flex;
    justify-content: center; }
  .newsletter h3 {
    display: flex;
    justify-content: center; }
  .newsletter p {
    display: flex;
    justify-content: center; }
  .newsletter label {
    display: flex;
    justify-content: center; }
  .inputNewsletter {
    display: flex;
    justify-content: center; } }

/*---------------RESPONSIVE PRODUCTOS---------------*/
@media screen and (max-width: 575px) {
  .tituloProductos {
    margin-top: 10rem; }
  .carousel {
    width: 320px;
    height: 320px; }
  .mainProductos img {
    height: 310px;
    width: 310px; } }

/*---------------RESPONSIVE PROMOCIONES---------------*/
@media screen and (max-width: 575px) {
  .tituloPromos {
    margin-top: 10rem; } }

/*---------------RESPONSIVE NOSOTROS---------------*/
@media screen and (max-width: 575px) {
  .tituloNosotros {
    margin-top: 10rem; }
  .galeria {
    display: none; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .galeria {
    grid-gap: 2rem;
    margin: 3rem; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
    grid-gap: 4rem;
    margin: 10rem; } }

/*---------------RESPONSIVE CONTACTO---------------*/
@media screen and (max-width: 575px) {
  .tituloContacto {
    margin-top: 10rem; }
  .textoContacto {
    font-size: 1.8rem; } }
