/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
*/
/*---------------ESTILOS INDEX---------------*/
/*---------------ESTILOS HEADER---------------*/
/*
.menuResponsive{
    visibility: collapse;
}
.menu2{
    background-color: rgb(80, 200, 215) !important;
    border-color: black;
    border-width: 0.3rem 0;
    border-style: solid;
}
.menu2 a{
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
}
.menu2 h5{
    font-family: "Oswald", sans-serif;
    font-size: 2.5rem;
}
.botonMenu{
    border-color: black !important;
    color: black;
    border-width: 0.3rem;
    border-style: solid;
}
.header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu{
    background-color: rgb(80, 200, 215);
    border-color: black;
    border-width: 0.3rem 0;
    border-style: solid;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
}
.menu a:hover{
    background-color: rgba(255, 255, 0, 0.8)
}
.logo{
    width: 10rem;
    height: 7rem;
}*/
/*---------------ESTILOS MAIN----------------*/
/* .fondoHome{
    padding: 20rem 0;
    width: 100%;
    background: url(../multimedia/fondo.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: soft-light;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5rem;
    color: white;
    justify-content: center;
}
.tituloHome{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
}
.intro{
    background-color: rgb(240, 240, 240);
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    padding: 5rem 0;
    text-align: center;
    justify-content: center;
}
.masPedidos{
    font-family: "Oswald", sans-serif;
    margin: 4rem 0;
}
.tituloPedidos{   
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 4rem 0;
    text-align: center;
}
.masPedidos img{
    width: 20rem;
    height: 20rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 3rem 0;
    justify-content: center;
    transition: 0.4s;
}
.masPedidos img:hover{
    width: 27rem;
    height: 27rem;
    background-color: rgb(80, 200, 215);
    border-width: 0.5rem;
}
.masPedidos h5{
    font-weight: 400;
    font-size: 2.2rem;
}
.masPedidos p{
    font-weight: 300;
    font-size: 1.6rem;
}
.buttonPedidos{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: rgb(80, 200, 215);
}
.producto{
    border-color: black;
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 4rem;
} */
/*---------------ESTILOS SECTION---------------*/
/* .sectionHome{
    background-color: rgb(240, 240, 240);
    font-family: "Oswald", sans-serif;
}
.sectionHome h2{
    font-size: 3rem;
    margin: 4rem;
}
.sucursales h5{
    font-size: 2.5rem;
}
.sucursales p{
    font-size: 2rem;
}
.tituloMapas{
    text-align: center;
}
.mapa1{
    width: 30rem;
    height: 30rem;
    margin: 3rem;
}
.mapa2{
    width: 30rem;
    height: 30rem;
    margin: 3rem;
}
 *//*---------------ESTILOS FOOTER---------------*/
/* .footer{
    background-color: rgb(80, 200, 215);
    line-height: 4rem;
}
.footer a{
    text-decoration: none;
    transition: 0.2s;
}
.footer a:hover{
    font-size: 2rem;
    color: white;
}
.footer li{
    list-style-type: none;
}
.footer ul{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;  
}
.nosotros{
    margin-top: 2rem;
}
.redes{
    margin-top: 2rem;
}
.newsletter{
    margin-top: 2rem;
}
.registro{
    line-height: 2rem;
}
.copy{
    font-size: 1.3rem;
}
.tarjetas{
    width: 35rem;
    height: 4rem;
}
 *//*---------------ESTILOS ASIDE---------------*/
/* .whatsapp{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    position: fixed; /* SE MANTIENE DURANTE TODO EL SCROLL COMO EL MENU */
/*     right: 3rem;
    bottom: 3rem;
    border-color: chartreuse;
    border-width: 0.1rem;
    border-radius: 20%;
    border-style: solid;
} */
 /*---------------ESTILOS PRODUCTOS---------------*/
.tituloProductos{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 3rem 0;
    justify-content: center;
}
.carrusel{
    justify-content: center;
    margin: 5rem 0;
}
.carousel{
    height: 480px;
    width: 480px;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    justify-content: center;
}
.carousel-indicators{
    margin: 0;
}
.mainProductos img{
    height: 470px;
    width: 470px;
}
.mainProductos h5{
    font-size: 2rem;
}
/*---------------ESTILOS PROMOCIONES---------------*/
.promociones{
    font-family: "Oswald", sans-serif;
    margin: 4rem 0;
}
.tituloPromos{   
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 4rem 0;
    text-align: center;
}
.promociones img{
    width: 20rem;
    height: 20rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 3rem 0;
    justify-content: center;
    transition: 0.4s;
}
.promociones img:hover{
    width: 27rem;
    height: 27rem;
    background-color: rgb(80, 200, 215);
    border-width: 0.5rem;
}
.promociones h5{
    font-weight: 400;
    font-size: 2.2rem;
}
.promociones p{
    font-weight: 300;
    font-size: 1.6rem;
}
.buttonPromos{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: rgb(80, 200, 215);
}
.producto{
    border-color: black;
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
}
/*---------------ESTILOS NOSOTROS---------------*/
.tituloNosotros{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 3rem;
    text-align: center;
    justify-content: center;
}
.parrafoNosotros{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
    margin: 5rem;
    justify-content: center;
}
.main p b{
    display: inline;
}
/* LUEGO VOY A PONERLE UNA PSEUDOCLASE A LA GALERIA (:HOVER)
PARA OPACAR LA IMAGEN Y QUE APAREZCA ALGUN TEXTO, POR EL MOMENTO
NO LO HICE PORQUE NO ME QUEDA COMO QUIERO*/
.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6";
    grid-gap: 8rem;
    margin: 15rem;
}
.galeria img{
    width: 30rem;
    height: 20rem;
}
/*---------------ESTILOS CONTACTO---------------*/
.articleContacto{
    margin: 0;
}
.tituloContacto{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 2rem 0;
    padding: 2rem 0;
    text-align: center;
    justify-content: center;
}
.formulario{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
}
.form-control{
    border: outset;
}
.textoContacto{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
}
.notificaciones{
    margin: 2rem 0;
}
.botones{
    background-color: rgb(80, 200, 215);
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: black;
    width: 9rem;
    height: 3rem;
}
.extra{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    text-decoration: none;
    padding: 2rem 0;
    justify-content: center;
}
/*---------------RESPONSIVE MOBILE INDEX---------------*/
@media screen and (max-width: 575px){
    .menuDesktop{
        display: none;   
    }
    .menuResponsive{
        visibility: visible; 
    }
    .logo{
        width: 8rem;
        height: 6rem;
    }
    .mapa1{
        width: 20rem;
        height: 20rem;
    }
    .mapa2{
        width: 20rem;
        height: 20rem;
    }
    .footer{
        height: 50rem;
    }
    .tarjetas{
        display: none;
    }
}
/*---------------RESPONSIVE TABLET INDEX---------------*/
@media screen and (min-width: 576px) and (max-width: 767px){
    .logo{
        width: 8rem;
        height: 6rem;
    }
}
/*---------------RESPONSIVE MOBILE PRODUCTOS---------------*/
@media screen and (max-width: 575px){
    .tituloProductos{
        margin-top: 10rem;
    }
    .carousel{
        width: 320px;
        height: 320px;
    }
    .mainProductos img{
        height: 310px;
        width: 310px;
    }
}
/*---------------RESPONSIVE MOBILE PROMOCIONES---------------*/
@media screen and (max-width: 575px){
    .tituloPromos{
        margin-top: 10rem;
    }
}
/*---------------RESPONSIVE MOBILE NOSOTROS---------------*/
@media screen and (max-width: 575px){
    .tituloNosotros{
        margin-top: 10rem;
    }
}
/* MEDIA QUERY MOMENTANEA, 
LUEGO VOY A REDACTAR MEJOR EL RESPONSIVE PARA ESTAS IMAGENES,
POR EL MOMENTO LO HICE ASI */
@media screen and (max-width: 1300px){
    .galeria{
        display: none;
    }
}
/*---------------RESPONSIVE MOBILE CONTACTO---------------*/
@media screen and (max-width: 575px){
    .tituloContacto{
        margin-top: 10rem;
    }
    .textoContacto{
        font-size: 1.8rem;
    }
}