*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*---------------ESTILOS INDEX---------------*/
/*---------------ESTILOS HEADER---------------*/
.header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu{
    background-color: rgb(80, 200, 215);
    border-color: black;
    border-width: 0.3rem 0;
    border-style: solid;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
}
.menu a:hover{
    background-color: rgba(255, 255, 0, 0.8)
}
.logo{
    width: 10rem;
    height: 7rem;
}
/*---------------ESTILOS MAIN----------------*/
.fondoHome{
    padding: 20rem 0;
    width: 100%;
    background: url(../multimedia/fondo.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: soft-light;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5rem;
    color: white;
    justify-content: center;
}
.tituloHome{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    padding: 2rem 0;
    justify-content:center;
}
.intro{
    background-color: rgb(240, 240, 240);
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    padding: 5rem 0;
    text-align: center;
    justify-content: center;
}
.masPedidos{
    font-family: "Oswald", sans-serif;
    margin: 4rem 0;
}
.tituloPedidos{   
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 4rem 0;
}
.masPedidos img{
    width: 20rem;
    height: 20rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 3rem 0;
    justify-content: center;
    transition: 0.4s;
}
.masPedidos img:hover{
    width: 27rem;
    height: 27rem;
    background-color: rgb(80, 200, 215);
    border-width: 0.5rem;
}
.masPedidos h5{
    font-weight: 400;
    font-size: 2.2rem;
}
.masPedidos p{
    font-weight: 300;
    font-size: 1.6rem;
}
.buttonPedidos{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: rgb(80, 200, 215);
}
.producto{
    border-color: black;
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 4rem;
}
/*---------------ESTILOS SECTION---------------*/
.sectionHome{
    background-color: rgb(240, 240, 240);
    font-family: "Oswald", sans-serif;
}
.sectionHome h2{
    font-size: 3rem;
    margin: 4rem;
}
.sucursales h5{
    font-size: 2.5rem;
}
.sucursales p{
    font-size: 2rem;
}
.mapa1{
    width: 30rem;
    height: 30rem;
    margin: 3rem;
}
.mapa2{
    width: 30rem;
    height: 30rem;
    margin: 3rem;
}
/*---------------ESTILOS FOOTER---------------*/
.footer{
    background-color: rgb(80, 200, 215);
    height: 25rem;
    line-height: 4rem;
}
.footer a{
    text-decoration: none;
}
.footer li{
    list-style-type: none;
}
.footer ul{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;  
}
.nosotros{
    margin-top: 2rem;
}
.redes{
    margin-top: 2rem;
}
.newsletter{
    margin-top: 2rem;
}
.registro{
    line-height: 2rem;

}
.copy{
    font-size: 1.3rem;
    margin-left: 2rem;
}
.tarjetas{
    width: 35rem;
    height: 4rem;
}
/*---------------ESTILOS ASIDE---------------*/
.whatsapp{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    position: fixed; /* SE MANTIENE DURANTE TODO EL SCROLL COMO EL MENU */
    right: 3rem;
    bottom: 3rem;
    border-color: chartreuse;
    border-width: 0.1rem;
    border-radius: 20%;
    border-style: solid;
}
/*---------------ESTILOS PRODUCTOS---------------*/
.tituloProductos{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 3rem 0;
    justify-content: center;
}
.carrusel{
    justify-content: center;
    margin: 5rem 0;
}
.carousel{
    height: 480px;
    width: 480px;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    justify-content: center;
}
.carousel-indicators{
    margin: 0;
}
.mainProductos img{
    height: 470px;
    width: 470px;
}
.mainProductos h5{
    font-size: 2rem;
}
/*---------------ESTILOS PROMOCIONES---------------*/
.promociones{
    font-family: "Oswald", sans-serif;
    margin: 4rem 0;
}
.tituloPromos{   
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 4rem 0;
}
.promociones img{
    width: 20rem;
    height: 20rem;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
    margin: 3rem 0;
    justify-content: center;
    transition: 0.4s;
}
.promociones img:hover{
    width: 27rem;
    height: 27rem;
    background-color: rgb(80, 200, 215);
    border-width: 0.5rem;
}
.promociones h5{
    font-weight: 400;
    font-size: 2.2rem;
}
.promociones p{
    font-weight: 300;
    font-size: 1.6rem;
}
.buttonPromos{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: rgb(80, 200, 215);
}
.producto{
    border-color: black;
    border-width: 0.1rem;
    border-radius: 3%;
    border-style: solid;
}
/*---------------ESTILOS NOSOTROS---------------*/
.tituloNosotros{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 3rem;
    padding: 3rem;
    justify-content: center;
}
.parrafoNosotros{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 3rem;
    padding: 3rem;
    justify-content: center;
}
.main p b{
    display: inline;
}
/*---------------ESTILOS CONTACTO---------------*/
.articleContacto{
    margin: 0;
}
.tituloContacto{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 2rem 0;
    padding: 2rem 0;
    justify-content: center;
}
.formulario{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
}
.form-control{
    border: outset;
}
.textoContacto{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
}
.notificaciones{
    margin: 2rem 0;
}
.botones{
    background-color: rgb(80, 200, 215);
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: black;
    width: 9rem;
    height: 3rem;
}
.extra{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    text-decoration: none;
    padding: 2rem 0;
    justify-content: center;
}
/*---------------RESPONSIVE MOBILE INDEX---------------*/
@media screen and (max-width: 500px){
    .menu li{
        display: block;
        font-family: "Oswald", sans-serif;
        font-size: 1.5rem;
        padding: 0.5rem 3rem;
    }
    .mainHome {
        grid-template-rows: 1fr 1.5fr;
    }
    .masPedidos{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.8fr 0.4fr 0.8fr 0.4fr 0.8fr 0.4fr;
        grid-template-areas: 
        "titulo"
        "imagen1"
        "destacado1"
        "imagen2"
        "destacado2"
        "imagen3"
        "destacado3";
    }
    .sectionHome{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr repeat(2, 0.2fr) 1fr repeat(2, 0.2fr) 1fr;
        grid-template-areas:
        "ubicacion" 
        "sucursal1" 
        "horario1"
        "mapa1"
        "sucursal2"
        "horario2"
        "mapa2";
        justify-items: center;
        align-items: center;
    }
    .mapa1{
        width: 25rem;
        height: 25rem;
    }
    .mapa2{
        width: 25rem;
        height: 25rem;
    }
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr) 0.3fr;
        grid-template-areas:
        "nosotros"
        "redes" 
        "newsletter"
        "copyright"; 
        height: 50rem;
        justify-items: start;
        padding-left: 3rem;
    }
    .tarjetas{
        display: none;
    }
}
/*---------------RESPONSIVE MOBILE PRODUCTOS---------------*/
@media screen and (max-width: 500px){
    .mainProductos{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr
        1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr;
        grid-template-areas: 
        "titulo"
        "fotoArandanos"
        "arandanos"
        "fotoAlmohaditas"
        "almohaditas"
        "fotoAlmendras"
        "almendras"
        "fotoAvellanas"  
        "avellanas"
        "fotoMixFrutos"
        "mixFrutos"
        "fotoAvena"
        "avena"
        "fotoPepas"  
        "pepas"
        "fotoGalletas" 
        "galletas"
        "fotoPastaMani"
        "pastaMani";
        }
}
/*---------------RESPONSIVE MOBILE PROMOCIONES---------------*/
@media screen and (max-width: 500px){
    .mainPromos{
        grid-template-rows: 0.7fr 5fr;
    }
    .promociones{
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.3fr 0.3fr 0.8fr 0.3fr 0.3fr 0.8fr 0.3fr 0.3fr;
        grid-template-areas:  
        "fotoMani"
        "promo1"
        "mas1"
        "fotoLino"
        "promo2" 
        "mas2"
        "fotoQuinoa"
        "promo3" 
        "mas3";
    }
}
/*---------------RESPONSIVE MOBILE NOSOTROS---------------*/
@media screen and (max-width: 500px){
    .mainNosotros{
        grid-template-rows: 0.2fr 1fr;
    }
}
/*---------------RESPONSIVE MOBILE CONTACTO---------------*/
@media screen and (max-width: 500px){
    .formulario{
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 0.7fr) repeat(3, 0.3fr) 0.7fr repeat(4, 0.2fr);
        grid-template-areas:
        "contactanos" 
        "texto"
        "nombre"
        "telefono" 
        "email"
        "mensaje"
        "condicion1"
        "condicion2"
        "botonLimpiar"
        "botonEnviar";
    }
    .textoContacto{
        font-size: 2rem;
    }
}